.myHeader{
    background-color:khaki;
    text-align: center;
    margin-bottom: 3%;
}
.myFooter{
    background-color:aquamarine;
    text-align: center;
}
.myForm{
    margin: auto;
    text-align: center;
}
.myResult{
    display: flex;
    background-color: antiquewhite;
    padding: 10ch;
    text-align: center;
    align-items: center;
    align-content: center;    
    font-weight: bold;
}

.table{
    width:100%;
    
    
   
    align-items: center;
    text-align: center;
    border-color: #96D4D4;
    border: 1px solid black;
    border-collapse: collapse;
  }
